Repository d-perez-1/python-microscopy: changes, and which Codecov flags are due for each by the changed paths.
All: all, core, gui, experimental, acquire

set opperating mode
  PYME/Acquire/Hardware/Coherent/OBIS.py
Due: all, acquire

turn off print!
  PYME/Acquire/ui/intensity_trace.py
Due: all, acquire

make pyme image actually open
  PYME/DSView/modules/LMAnalysis.py
Due: all, gui

list all instances of a given event
  PYME/Analysis/piecewiseMapping.py
Due: all, core

thought i already comitted this
  PYME/Analysis/piecewiseMapping.py
Due: all, core

save crop metadata in a useable format
  PYME/IO/DataSources/CropDataSource.py
Due: all, core

try and fix 2D gauss multiemitter fitting
  PYME/DSView/modules/LMAnalysis.py
Due: all, gui

Path conditions:
  all: any of: **, but not: */contrib/*, */Protocols/*, */setup.py, */setup_exe.py, */Hardware/*
  core: any of: PYME/IO/**, PYME/cluster/**, PYME/Analysis/**, PYME/localization/**, PYME/simulation/**, PYME/misc/**, PYME/Deconv/**, PYME/config.py, PYME/recipes/**, but not: */contrib/*, */Protocols/*, */setup.py, */setup_exe.py, */Hardware/*
  gui: any of: PYME/ui/**, PYME/DSView/**, PYME/LMVis/**, PYME/tileviewer/**, but not: */contrib/*, */Protocols/*, */setup.py, */setup_exe.py, */Hardware/*
  experimental: any of: PYME/experimental/**, PYME/reports/**, but not: */contrib/*, */Protocols/*, */setup.py, */setup_exe.py, */Hardware/*
  acquire: any of: PYME/Acquire/**, but not: */contrib/*, */Protocols/*, */setup.py, */setup_exe.py, */Hardware/*
